script(type="text/javascript", src="/web-socket-js/swfobject.js")
script(type="text/javascript", src="/web-socket-js/web_socket.js")
script(type="text/javascript", src="/javascripts/camera.js")

br
br
br
br

#image.container
  center
    h1 Take a picture using your phone now.
    h1 The photo will appear here afterwards.
