.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='#') Loggy
      ul.nav
        li
          a(href='/') Home
        li
          a(href='/logcat') logcat
        li
          a(href='/sdcard') SD Card
        li
          a(href='/camera') Camera
        li
          a(href='http://market.android.com/details?id=com.koushikdutta.loggy') Rate Me!
        li
          a(href='https://github.com/koush/Loggy') Fork me on Github
