.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='#') Loggy
      ul.nav
        li.active
          a(href='/') Home
        li
          a(href='/logcat') logcat
        li
          a(href='/sdcard') SD Card


.jumbotron.masthead
  .container
    br
    br
    h1 Loggy
    p Get started by choosing from the menu up top.
