script(type="text/javascript", src="/web-socket-js/swfobject.js")
script(type="text/javascript", src="/web-socket-js/web_socket.js")
script(type="text/javascript", src="/javascripts/logcat.js")
.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='#') Loggy
      ul.nav
        li
          a(href='/') Home
        li.active
          a(href='/logcat') logcat
        li
          a(href='/sdcard') SD Card
        li
          a(href='http://market.android.com/details?id=com.koushikdutta.loggy') Rate Me!
        li
          a(href='https://github.com/koush/Loggy') Fork me on Github

.navbar.navbar-fixed-bottom.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='#') Filter
      ul.nav
        li#no-filter
          a(href='javascript:void(0)') Click on a tag or process id to apply a filter.
        li#clear-filter.hide
          a(href='javascript:clearFilters();') Clear Filter
        li#current-filter.hide
          a#current-filter-value(href='javascript:void(0)') Filter

br
br
br
br
.container
  .row
    .span8.offset2
      #no-websocket.alert.alert-error.hide
        h4 Error!
        span Your browser does not support WebSockets!

#log-rows.container
