script(type="text/javascript", src="/web-socket-js/swfobject.js")
script(type="text/javascript", src="/web-socket-js/web_socket.js")
script(type="text/javascript", src="/javascripts/sdcard.js")
.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='#') Loggy
      ul.nav
        li
          a(href='/') Home
        li
          a(href='/logcat') logcat
        li.active
          a(href='/sdcard') SD Card
        li
          a(href='/camera') Camera
        li
          a(href='http://market.android.com/details?id=com.koushikdutta.loggy') Rate Me!
        li
          a(href='https://github.com/koush/Loggy') Fork me on Github

br
br
br
br

#dir-rows.container
#file-rows.container
