script(type="text/javascript", src="/web-socket-js/swfobject.js")
script(type="text/javascript", src="/web-socket-js/web_socket.js")
script(type="text/javascript", src="/javascripts/sdcard.js")


br
br
br
br

#dir-rows.container
#file-rows.container
